.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
openai_env/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

prompt_counts.json
cost_data.json
openai_responses.txt

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover